<% content_for :title do %>
  Corsego 
  | 
  Online Courses - Learn Anything, On Your Schedule
<% end %>

<div class="jumbotron">
  <div class="display-4">
    What do you want to learn today?

    <div class="p-4">
      <% if current_user %>
        <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
          <div class="input-group">
            <%= f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off %>
            <span class="input-group-append">
              <button class="btn btn-primary btn-sm" type="submit">
                <span aria-hidden="true" class="fa fa-search"></span>
              </button>
            </span>
          </div>
        <% end %>  
      <% end %>
      <%# <div class="form-inline my-2 my-lg-0"> %>
        <%# <%= form_tag(courses_path, method: :get) do %>
          <%# <div class="input-group"> %>
            <%# <%= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Find a course", class: 'form-control-sm' %>
            <%# <span class="input-group-append"> %>
              <%# <button class="btn btn-primary btn-sm" type="submit"> %>
                <%# <span aria-hidden="true" class="fa fa-search"></span> %>
              <%# </button> %>
            <%# </span> %>
          <%# </div> %>
        <%# <% end %>
      <%# </div> %>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card card-body">
    <h1>
      <div class="fa fa-graduation-cap"></div>
    </h1>
    <%= pluralize(Course.count, 'online courses') %>
    <%#= Course.count %>
    <%# online courses %>
    <div class="row"></div>
    <small>
      Explore a variety of fresh topics
    </small>
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-chalkboard-teacher"></div>
      <!--.fa.fa-brain
      -->
    </h1>
    <%= pluralize(Course.distinct.count(:user_id), 'expert instructors') %>
    <%#= Course.distinct.count(:user_id) %>
    <%# expert instructors %>
    <div class="row"></div>
    <small>
      Find the right instructor for you
    </small>
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-user-graduate"></div>
    </h1>
    <%= pluralize(User.count, 'active learners') %>
    <%#= User.count %>
    <%# active learners %>
    <div class="row"></div>
    <small>
      Join the knowledge sharing community
    </small>
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-infinity"></div>
    </h1>
    Lifetime access
    <div class="row"></div>
    <small>
      Learn on your schedule
    </small>
  </div>
</div>

<p></p>

<% if current_user && current_user.enrollments.any? %>
  <h2>
    <div class="fa fa-user-graduate"></div>
    Continue Learning 持續學習
  </h2>
    <div class="card-columns">
      <% @purchased_courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <div class="text-right">
      <%= link_to 'All my purchased courses', learning_courses_path %>
    </div>
    <hr/>
<% end %>


<h2>
  <div class="fa fa-chart-line"></div>
  Popular courses 熱門課程
</h2>
  <div class="card-columns">
    <% @popular.each do |course| %>
      <%= render 'courses/course', course: course %>
    <% end %>
  </div>
  <div class="text-right">
    <%= link_to 'More popular courses', courses_path(courses_search: {s: 'enrollments_count desc'}) %>
  </div>

<hr/>
<h2>
  <div class="fa fa-star"></div>
  Top rated courses 評分最高的課程
</h2>
  <div class="card-columns">
    <% @top_rated.each do |course| %>
      <%= render 'courses/course', course: course %>
    <% end %>
  </div>
  <div class="text-right">
    <%= link_to 'Best rated courses', courses_path(courses_search: {s: 'average_rating desc'}) %>
  </div>


<hr/>
<h2>
  <div class="fa fa-clock"></div>
  Latest courses 最新課程
</h2>
  <div class="card-columns">
    <% @latest.each do |course| %>
      <%= render 'courses/course', course: course %>
    <% end %>
  </div>
  <div class="text-right">
    <%= link_to 'More recent courses', courses_path(courses_search: {s: 'created_at desc'}) %>
  </div>

<hr/>
<h2>
  <div class="fa fa-comment"></div>
  What our students have to say
</h2>
  <div class="card-columns">
    <% @latest_good_reviews.each do |enrollment| %>
      <%= render 'enrollments/enrollment', enrollment: enrollment %>
    <% end %>
  </div>

<hr/>




