<div class="card">
  <div class="card-header">
    <div class="fa fa-user"></div>
      <%#= user.email %>
      <%#= user.online? %>
      <% if user.online? %>
        <div class="text-success fa fa-signal"></div>
      <% else %>
        <div class="text-danger fa fa-signal"></div>
      <% end %>
      <%= link_to user.email, user_path(user) %>
  </div>
  <div class="card-footer">
    Signed up
    <%= time_ago_in_words(user.created_at) %>
    ago
  </div>
  <div class="card-footer">
      <%= 'sign_in_count'.humanize %>
      <%= user.sign_in_count %>
    <div class="row"></div>
      <%= 'current_sign_in_at'.humanize %>
      <%= user.current_sign_in_at %>
    <div class="row"></div>
      <%= 'last_sign_in_at'.humanize %>
      <%= user.last_sign_in_at %>
    <div class="row"></div>
      <%= 'current_sign_in_ip'.humanize %>
      <%= user.current_sign_in_ip %>
    <div class="row"></div>
      <%= 'last_sign_in_ip'.humanize %>
      <%= user.last_sign_in_ip %>
  </div>
  <div class="card-footer">
    Courses created:
    <%= user.courses_count %>
    <div class="row"></div>
    Enrollments:
    <%= user.enrollments_count %>
  </div>
  <div class="card-footer">
    Confirmed email?
    <% if user.confirmed_at.present? %>
      <div class="badge badge-success">Yes</div>
    <% else %>
      <div class="badge badge-danger">No</div>
    <% end %>
  </div>
  <div class="card-footer">
    <% user.roles.each do |role| %>
      <div class="badge badge-info">
        <%= role.name %>
      </div>
    <% end %>
    <% if policy(user).edit? %>
      <%= link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning' %>
    <% end %>
  </div>
</div>
