<p id="notice"><%= notice %></p>

<%# <p> %>
  <%# <strong>Title:</strong> %>
  <%#= @lesson.title %>
<%# </p> %>

<%# <p> %>
  <%# <strong>Content:</strong> %>
  <%#= @lesson.content %>
<%# </p> %>

<%# <p> %>
  <%# <strong>Course:</strong> %>
  <%#= @lesson.course_id %>
<%# </p> %>

<%#= link_to 'Edit', edit_lesson_path(@lesson) %> 
<%#= link_to 'Back', lessons_path %>

<% content_for :title do %>
  Corsego 
  |
  Course
  <%= @course.title %>
  |
  Lesson
  <%= @lesson.title %>
<% end %>

<%# <p> %>
  <%#= link_to 'Courses', courses_path %>
  <%# / %>
  <%#= link_to @lesson.course.title, course_path(@lesson.course) %>
  <%# / %>
  <%#= link_to @lesson.title, course_lesson_path(@course, @lesson) %>
<%# </p> %>


<%= link_to 'Courses', courses_path %>
|
<%= link_to course_path(@lesson.course) do %>
  <div class="fa fa-graduation-cap"></div>
  <%= @lesson.course.title %>
<% end %>
|
<%= link_to course_lesson_path(@course, @lesson) do %>
  <div class="fa fa-check-square"></div>
  <%= @lesson.title %>
<% end %>

<p></p>

<%# 點閱次數 %>
<%#= @lesson.user_lessons.where(user: current_user).first.impressions %> 


<div class="row">
  <div class="col-lg-8">
    <%= render 'lessons/lesson', lesson: @lesson %>
    <p></p>
  </div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to course_path(@lesson.course) do %>
          <div class="fa fa-graduation-cap"></div>
          <%= @lesson.course.title %>
        <% end %>
        <div class="row"></div>
        <div class="fa fa-spinner"></div>
        <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
      </li>
      <% @lessons.each do |lesson| %>
        <% if @lesson.present? && lesson == @lesson %>
          <li class="list-group-item list-group-item-success">
            <%= render 'lessons/lesson_preview', lesson: lesson %>
          </li>
        <% else %>
          <li class="list-group-item">
            <%= render 'lessons/lesson_preview', lesson: lesson %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<%#= render 'lessons/lesson', lesson: @lesson %>
<%#= link_to 'Back', lessons_path %>
<%#= link_to 'Back to course', course_path(@lesson.course) %>



