<% content_for :title do %>
  Corsego 
  | 
  <%= @course.title %>
<% end %>

<%# <p> %>
  <%#= link_to 'Courses', courses_path %>
  <%# / %>
  <%#= link_to @course.title, course_path(@course) %>
<%# </p> %>

<div>
  <%= link_to 'Courses', courses_path %>
  |
  <%= link_to course_path(@course) do %>
    <div class="fa fa-graduation-cap"></div>
    <%= @course.title %>
  <% end %>
</div>

<P></P>


<div class="row">
  <div class="col-lg-8 order-1 order-lg-1">
    <div class="jumbotron">
      <h3>
        <div class="fa fa-graduation-cap"></div>
        <%= @course.title %>
      </h3>
      <div class="p-3"></div>
      <div class="row"></div>
      <div class="fa fa-clock"></div>
      <%= @course.updated_at.strftime("%m/%Y") %>
      <div class="row"></div>
      <div class="fa fa-globe-africa"></div>
      <%= @course.language %>
      <div class="row"></div>
      <div class="fa fa-signal"></div>
      <%= @course.level %>
      <div class="p-3"></div>
      <%= @course.description %>
    </div>

    <h4>
      <div class="fa fa-tasks"></div>
      <%= pluralize(@course.lessons_count, 'lesson') %>
      <%#= @course.lessons_count %>
      <%# Lessons: %>
      <div class="float-right">
        <div class="fa fa-spinner"></div>
        <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
      </div>
    </h4>
    
    <div class="list-group lesson-sortable">
      <% @lessons.each do |lesson| %>
        <%= content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do %>
          <div class="list-group-item">
            <div class="fa fa-sort all-scroll" style="cursor: grab;"></div>
            <%= render 'lessons/lesson_preview', lesson: lesson %>
          </div>
        <% end %>
      <% end %>
    </div>

    <p></p>

    <h4>
      <div class="fa fa-comment"></div>   
      <%= pluralize(@enrollments_with_review.count, 'review') %>
      <%# Reviews: %>
      <%#= @enrollments_with_review.count %>
    </h4>
    <% @enrollments_with_review.each do |enrollment| %>
      <%= render 'enrollments/enrollment', enrollment: enrollment %>
      <p></p>
    <% end %>
    
  </div>
  <div class="col-lg-4 order-0 order-lg-1">
    <div class="sticky-top">
      <%= render 'courses/course', course: @course %>
    </div>
    <p></p>
  
  </div>
</div>

