<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <i class="fa-solid fa-video"></i>
    Video
  </a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if current_user %>
      <ul class="navbar-nav mr-auto">
        <li class="<%= 'active font-weight-bold' if current_page?(root_path) %> nav-item">
          <%= link_to root_path, class: 'nav-link' do %>
            <div class="fa fa-home"></div>
            Home
          <% end %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(courses_path) %> nav-item">
          <%= link_to courses_path, class: 'nav-link' do %>
            <div class="fa fa-graduation-cap"></div>
            Courses
          <% end %>
        </li>
        <%# <li class="<= 'active font-weight-bold' if current_page?(new_course_path) > nav-item"> %>
          <%#= link_to new_course_path, class: 'nav-link' do %>
            <%# <div class="fa fa-plus"></div> %>
            <%# New Course %>
          <%# end %>
        <%# </li> %>
        <%# <li class="<= 'active font-weight-bold' if current_page?(users_path) > nav-item"> %>
          <%#= link_to users_path, class: 'nav-link' do %>
            <%# <div class="fa fa-users"></div> %>
            <%# Users %>
          <%# end %>
        <%# </li> %>
        <%# <li class="<= 'active font-weight-bold' if current_page?(enrollments_path) > nav-item"> %>
          <%#= link_to enrollments_path, class: 'nav-link' do %>
            <%# <div class="fa fa-lock-open"></div> %>
            <%# Enrollments %>
          <%# end %>
        <%# </li> %>

        <%# SEARCH IN NAVBAR %>
        <div class="form-inline">
          <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
            <div class="input-group">
              <%= f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off %>
              <span class="input-group-append">
                <button class="btn btn-primary btn-sm" type="submit">
                  <span aria-hidden="true" class="fa fa-search"></span>
                </button>
              </span>
            </div>
          <% end %>
          <%# <div class="form-inline my-2 my-lg-0"> %>
            <%#= form_tag(courses_path, method: :get) do %>
              <%# <div class="input-group"> %>
                <%#= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm' %>
                <%# <span class="input-group-append"> %>
                  <%# <button class="btn btn-primary btn-sm" type="submit"> %>
                    <%# <span aria-hidden="true" class="fa fa-search"></#span> %>
                  <%# </button> %>
                <%# </span> %>
              <%# </div> %>
            <%# end %>
          <%# </div> %>
        </div>

        <# navbar admin teacher sutdnet>
        <ul class="navbar-nav mr-auto">
          <%# student %>
          <% if current_user.has_role?(:student) %>
            <li class="nav-item dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="studentDropdown" role="button">
                <b>
                  <div class="fa fa-graduation-cap"></div>
                  Learn
                </b>
              </a>
              <div aria-labelledby="studentDropdown" class="dropdown-menu dropdown-menu-right">
                <%= link_to purchased_courses_path, class: "dropdown-item" do %>
                  <div class="fa fa-graduation-cap"></div>
                  Purchased Courses
                  <div class="badge badge-danger">
                    <%= current_user.enrollments.count %>
                  </div>
                <% end %>
                <%= link_to pending_review_courses_path, class: "dropdown-item" do %>
                  <div class="fa fa-star"></div>
                  Pending Review
                  <div class="badge badge-danger">
                    <%= current_user.enrollments.pending_review.count %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
          <%# teacher %>
          <% if current_user.has_role?(:teacher) %>
            <li class="nav-item dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="teacherDropdown" role="button">
                <b>
                  <div class="fa fa-chalkboard-teacher"></div>
                  Teach
                </b>
              </a>
              <div aria-labelledby="teacherDropdown" class="dropdown-menu dropdown-menu-right">
                <%= link_to new_course_path, class: "dropdown-item" do %>
                  <%# <div class="fa fa-graduation-cap"></div> %>
                  <i class="fas fa-school"></i>
                  <div class="fa fa-plus"></div>
                  New Course
                <% end %>
                <%= link_to created_courses_path, class: "dropdown-item" do %>
                  <div class="fa fa-graduation-cap"></div>
                  My Courses
                  <div class="badge badge-danger">
                    <%= current_user.courses.count %>
                  </div>
                <% end %>
                <%= link_to my_students_enrollments_path, class: "dropdown-item" do %>
                  <div class="fa fa-users"></div>
                  My Students
                  <div class="badge badge-danger">
                    <%= Enrollment.joins(:course).where(courses: {user: current_user}).count %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
          <%# admin %>
          <% if current_user.has_role?(:admin) %>
            <li class="nav-item dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="adminDropdown" role="button">
                <b>
                  <div class="fa fa-cog"></div>
                  Admin
                </b>
              </a>
              <div aria-labelledby="adminDropdown" class="dropdown-menu dropdown-menu-right">
                <%= link_to users_path, class: "dropdown-item" do %>
                  <div class="fa fa-users"></div>
                  Users
                  <div class="badge badge-danger">
                    <%= User.count %>
                  </div>
                <% end %>
                <%= link_to enrollments_path, class: "dropdown-item" do %>
                  <div class="fa fa-lock-open"></div>
                  Enrollments
                  <div class="badge badge-danger">
                    <%= Enrollment.count %>
                  </div>
                <% end %>
                <%= link_to activity_path, class: "dropdown-item" do %>
                  <div class="fa fa-bell"></div>
                  Activity
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </ul>

      <ul class="navbar-nav mr-right">
        <%# <li class="<= 'active font-weight-bold' if current_page?(activity_path) > nav-item"> %>
          <%#= link_to activity_path, class: 'nav-link' do %>
            <%# <div class="fa fa-bell"></div> %>
            <%# Activity %>
          <%# end %>
        <%# </li> %>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <b>
              <%= current_user.username %>
            </b>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
              <div class="fa fa-cog"></div>
              <b>Account settings</b>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <div class="fa fa-sign-out-alt"></div>
              <b>Sign out</b>
            <% end %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav mr-right">
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>


