<!DOCTYPE html>
<html>
  <head>
    <%# <title>Video</title> %>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Corsego" %>
    </title>
    <%= favicon_link_tag "video.png" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>
        <div class="container">
          <p>
            <%= yield %>
          </p>
        </div>
        <br/>
        <div class="bg-dark text-white">
          <%= render 'layouts/footer' %>
        </div>
  </body>
</html>
